<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title><%= blog.title %></title>
</head>
<body class="bg-light">

<%- include('./partials/navbar') %>

<div class="container my-5">
    <div class="card shadow-lg border-0">

        <img 
            src="/<%= blog.coverImageURL %>" 
            class="card-img-top img-fluid"
            alt="<%= blog.title %>"
            style="max-height: 400px; object-fit: contain;"
        >

        <div class="card-body p-5">

            <h1 class="card-title fw-bold mb-4">
                <%= blog.title %>
            </h1>

            <p class="card-text fs-5 text-secondary" style="white-space: pre-line;">
                <%= blog.body %>
            </p>

            <hr class="my-4">

            <div class="d-flex align-items-center gap-3">
                <img 
                    src="/<%= blog.createdBy.profileImageUrl%>"
                    class="rounded-circle border"
                    style="height: 70px; width: 70px; object-fit: contain;"
                    alt="Author"
                >

                <div>
                    <h6 class="mb-0 fw-semibold">
                        <%= blog.createdBy.fullName %>
                    </h6>
                    <small class="text-muted">
                        Author
                    </small>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container mt-4">

    <h1>Comments (<%=comments.length%>)</h1>

     <% if (locals.user) { %>
        <form action="/blog/comment/<%= blog._id%>" method="POST">
         <div class="mb-3">
                <input type="text" class="form-control" id="content" name="content" placeholder="Enter your comment" required>
            </div>

            <button class="btn btn-primary px-4 mb-5" type="submit" class="btn btn-primary">Add</button>
    </form>
        <% }  %>
    
</div>



<div class="container m-auto">
    
    <% comments.forEach(comment => { %>
      <div>
          <img 
                    src="<%= comment.createdBy.profileImageUrl%>"
                    class="rounded-circle border"
                    style="height: 25px; width: 25px; object-fit: contain;"
                    alt=""
                >
        <%=comment.createdBy.fullName%>: <pre><%=comment.content%></pre>
      </div>

      
    <% }) %>
</div>

<%- include('./partials/scripts') %>

</body>
</html>


